.content-row {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
}

.nav-tabs {
    border: none;
}

@media(max-width:575px) {
    .navbar-brand {
        font-size: 1.1rem;
    }
}


/*--FIX TO SHOW TAB CONTENT WHEN PILL NOT SELECTED--*/
@media(min-width:992px) {
    .tab-content>.tab-pane {
        display: block;
    }
    .navbar-nav{
    	float:right;
    }
}

@media(max-width:991px) {
    .navbar-nav{
    	float:left;
    }
}
